<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100" rel="stylesheet">
    <style type="text/css">${styles}</style>
    <title>Plantilla de correo electrónico</title>
  </head>
  <body>
    <header></header>
    <h1>${subject}</h1>

    <p>Hola ${name},</p>

    <div class="content">
      ${body}
    </div>

    <p>Atentamente,</p>

    <p>[Nombre de la empresa]</p>
    <footer></footer>
  </body>
</html>
